<!DOCTYPE html>
<html>
  <head>
    <!--Title, description, authors and any other metadata we might need-->
    <meta charset="utf-8">
    <title>AIDA</title>
    <meta name="author" content="ADIA"/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Stylesheets-->
    <link rel="stylesheet" type="text/css" href="/css/generic.css">
    <link rel="stylesheet" type="text/css" href="/css/contract.css">
    <link rel="stylesheet" type="text/css" href="/css/modal.css">

    <!--Scripts-->
    <script type="text/javascript" src="/js/jquery-2.2.4.min.js" defer></script>
    <script type="text/javascript" src="/js/modal.js" defer></script>
    <script type="text/javascript" src="/js/contract.js" defer></script>
    <script type="text/javascript" src="/js/generic.js" defer></script>
  </head>

  <body>
    <!--Header bar at the top-->
    <header>
      <div id="navbar_wrapper">
        <div id="navbar">
          <div id="mobile_nav"></div>
          <div id="logo_nav">
            <a class="navbutton" href="/">
              <img src="/images/logo.png" height="32" width="32">
            </a>
          </div>
          <div id="login_nav">
            <a class="navbutton">Log in</a>
          </div>
          <div id="searchbar_nav">
            <!--The search button will be implemented in javascript later-->
            <form action="/search">
              <input id="searchbar_button" type="submit" value="">
              <input id="searchbar_input" type="text" name="search" placeholder="Search">
            </form>
          </div>
          <div class="navpiece"  id="project_nav">
            <a class="navbutton" href="/projects">Projects</a>
          </div>
          <div class="navpiece"  id="people_nav">
            <a class="navbutton" href="/profiles">People</a>
          </div>
          <div class="navpiece" id="inbox_nav">
            <a class="navbutton" href="/inbox">Inbox</a>
          </div>
        </div>
      </div>
    </header>

    <!-- The Modal -->
    <div id="myModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <div id="modal_title">
          <h2>Login</h2>
        </div>
        <div id="login_signup_content">
          <div id="modal-login-box">
            <input type="text" placeholder="Username"><br>
            <input type="password" placeholder="Password">
          </div>
          <div id="modal-signup-box">
            <input type="password" placeholder="Confirm Password"><br>
            <input type="text" placeholder="Email Address"><br>
            <input type="text" placeholder="Confirm Email Address"><br>
          </div>
          <div id="login_button">Login</div>
          <div id="signup_button">Sign up</div>
          <h3 id="signup_text">No account yet? <span id="signup_switch">Sign up!</span></h3>
          <h3 id="login_text">Have an account? <span id="login_switch">Login!</span></h3>
        </div>
        <div id="verify_content">
          <h3 id="verify_text">Enter your security code</h3>
          <input id="verify_input" type="text">
        </div>
      </div>
    </div>

    <!--Main page content-->
    <main>
      <div id="content_background">
        <div id="content_wrapper">
          <div id="content">
      			<section id="basic_info">
      				<div class="box_tag">
      					Basic Info
      				</div>
      				<div class="box_content">
      					<h2 id="job_title"> </h2>
      					<p id="job_intro">

                </p>
                <p><strong>Posted on:</strong> <span id="post_date"> </span></p>
      					<p><strong>Status:</strong> <span id="status"> </span></p>
      					<p><strong>Employer:</strong> <a id="employer" href="profile.html"> </a></p>
      					<a id="project_link" href="project.html">See Project</a>
      					<div id="status_change">
      						<p><strong>Choose actions:</strong></p>
      						<button id="sign">Sign Contract</button>
      						<button id="finish">Finish Contract</button>
      						<button id="cancel">Cancel Contract</button>
      						<div id="rating" class="hidden">
      							Rate your employer/employee:<br>
      							<input type="radio" name="score"/>0
      							<input type="radio" name="score"/>1
      							<input type="radio" name="score"/>2
      							<input type="radio" name="score"/>3
      							<input type="radio" name="score"/>4
      							<input type="radio" name="score"/>5<br>
      							Add a brief comment (optional)<br>
      							<textarea id="comment" rows="10"></textarea><br>
      							<button id="submit">Submit</button>
      							<button id="cancel_submit">Cancel</button>
      						</div>
      					</div>
      				</div>
      			</section>
      			<section id="showcase">
      				<div class="box_tag">
      					Specifications
      				</div>
      				<div class="box_content">
      					<p>Required skills:</p>
      					<ul id="skill_tags">


      					</ul>
      					<p id="budget"> </p>
      					<p id="deadline"> </p>
      				</div>
      			</section>
      			<!--Container for the second level of blocks-->
      			<div class="level_wrapper">
      				<section id="details">
      					<div class="box_tag">
      						Contract Details
      					</div>
      					<div class="box_content">
      						<section id="details_introduction">

      						</section>
      					</div>
      				</section>
      			</div>
          </div>
        </div>
      </div>
    </main>

    <!--Footer at the bottom-->
    <footer>
      <div id="footer_content">
        © 2016 AIDA - Accelerate your game development
      </div>
    </footer>
  </body>
</html>
