<!DOCTYPE html>
<html>
  <head>
    <!--Title, description, authors and any other metadata we might need-->
    <meta charset="utf-8">
    <title>AIDA</title>
    <meta name="author" content="ADIA"/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Stylesheets-->
    <link rel="stylesheet" type="text/css" href="/css/generic.css">
    <link rel="stylesheet" type="text/css" href="/css/project.css">
    <link rel="stylesheet" type="text/css" href="/css/modal.css">

    <!--Scripts-->
    <script type="text/javascript" src="/js/jquery-2.2.4.min.js" defer></script>
    <script type="text/javascript" src="/js/project.js" defer></script>
    <script type="text/javascript" src="/js/modal.js" defer></script>
    <script type="text/javascript" src="/js/generic.js" defer></script>
  </head>

  <body>
    <!--Header bar at the top-->
    <header>
      <div id="navbar_wrapper">
        <div id="navbar">
          <div id="mobile_nav"></div>
          <div id="logo_nav">
            <a class="navbutton" href="/">
              <img src="/images/logo.png" height="32" width="32">
            </a>
          </div>
          <div id="login_nav">
            <a id="loginNav" class="navbutton">Log in</a>
            <a id="logoutNav" class="navbutton">Log out</a>
          </div>
          <div id="searchbar_nav">
            <!--The search button will be implemented in javascript later-->
            <form action="/search">
              <input id="searchbar_button" type="submit" value="">
              <input id="searchbar_input" type="text" name="search" placeholder="Search">
            </form>
          </div>
          <div class="navpiece"  id="people_nav">
            <a class="navbutton" href="/profiles">People</a>
          </div>
          <div class="navpiece"  id="project_nav">
            <a class="navbutton" href="/projects">Projects</a>
          </div>
          <div class="navpiece" id="jobs_nav">
            <a class="navbutton" href="/jobs">Jobs</a>
          </div>
          <div class="navpiece" id="inbox_nav">
            <a class="navbutton" href="/inbox">Inbox</a>
          </div>
        </div>
      </div>
    </header>

    <!-- The Modal -->
    <div id="myModal" class="modal">

      <!-- Modal content -->
      <div class="modal-content">
        <div id="modal_title">
          <h2>Login</h2>
        </div>
        <div id="login_signup_content">
          <div id="modal-login-box">
            <input id="username" type="text" placeholder="Username"><br>
            <input id="password" type="password" placeholder="Password">
          </div>
          <div id="modal-signup-box">
            <input id="password2" type="password" placeholder="Confirm Password"><br>
            <input id="email" type="text" placeholder="Email Address"><br>
            <input id="email2" type="text" placeholder="Confirm Email Address"><br>
          </div>
          <div id="feedback_msg"></div>
          <div id="login_button">Login</div>
          <div id="signup_button">Sign up</div>
          <h3 id="signup_text">No account yet? <span id="signup_switch">Sign up!</span></h3>
          <h3 id="login_text">Have an account? <span id="login_switch">Login!</span></h3>
        </div>
        <div id="verify_content">
          <h3 id="verify_text">Please choose one of the two-factor authentication below.</h3>
          <image id="google" src="../images/google.png" alt="Google" height="47" width="47"></image>
          <image id="github" src="../images/github.png" alt="Github" height="42" width="42"></image>
        </div>
      </div>
    </div>

    <!--Main page content-->
    <main>
      <div id="content_background">
        <div id="content_wrapper">
          <div id="content">
      			<section id="basic_info">
      				<div class="box_tag">
      					Basic Info
      				</div>
      				<div class="box_content">
      					<h2 id="project_name">

                </h2>
                <p>by <a id="project_owner" href="profile.html"></a></p>

      					<p id="project_brief">

                </p>
      					<p id="last_update">

                </p>
      					<p id="project_status">

                </p>
      					<div id="project_tags">
                <strong>Tags:</strong>

      					</div>
                <br>
                <a id="profile_follow" href="#">Follow<a>

      				</div>
      			</section>
      			<section id="showcase">
      				<div class="box_tag">
      					Showcase
      				</div>
      				<div class="box_content">
      					<div id="showcase_display">

      					</div>
                <!-- COMMENTED OUT BECAUSE CURRENTLY ONLY ONE PICTURE ALLOWED
      					<div id="showcase_control">
      						<button id="showcase_control_prev">Prev</button>
      						<button id="showcase_control_next">Next</button>
      					</div>
              -->
      				</div>
      			</section>
      			<!--Container for the second level of blocks-->
      			<div class="level_wrapper">
      				<section id="details">
      					<div class="box_tag">
      						Project Details
      					</div>
      					<div class="box_content">
      						<section id="details_text">

      						</section>
      					</div>
      				</section>
      			</div>
            <div class="level_wrapper">
              <section id="ongoing_contracts">
                <div class="box_tag">
                  Contracts
                </div>
                <div class="box_content">
                  <ul id="contract_listing">

                  </ul>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
          </div>
        </div>
      </div>
    </main>

    <!--Footer at the bottom-->
    <footer>
      <div id="footer_content">
        © 2016 AIDA - Accelerate your game development
      </div>
    </footer>
  </body>
</html>
