/*THIS IS THE CONTROL PAGE STYLESHEET
IT CONTAINS STYLES FOR THE CONTROL PAGE*/
#left_menu {
  float: left;
  width: 200px;
}

#right_view {
  float:right;
  width: calc(100% - 220px);
}

#content aside nav {
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 10px;
}

#content aside ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#content aside ul li {
  display: block;
  padding: 10px;
  border-bottom: 1px solid #CBCBCB;
}

#content aside ul li:last-child {
  border-bottom: none;
}

a:link, a:visited {
  text-decoration: none;
  color: #000000;
}

a:hover {
    text-decoration: none;
    color: #CBCBCB;
}

a:active {
    text-decoration: none;
    color: #A1A1A1;
}
