/*THIS IS THE LOGIN/SIGNUP MODAL STYLESHEET
IT CONTAINS STYLES FOR THE LOGIN/SIGNUP MODAL THAT POPS UP*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 10%; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
    text-align: center;
}

#modal_title {
  margin-bottom: 8px;
}

.modal-content {
    display: inline-block;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 500px;
    max-height: auto;
}

.modal-content h2 {
  text-align: center;
  margin: auto;
  width: 100%;
  background-color: #FFFFFF;
  border-radius: 2px;
  color: #000000;
  font-size: 20px;
}

.modal-content h3 {
  font-size: 14px;
  margin-bottom: 0.25em;
}

.modal-content h3 #signup_switch {
  color: #8510bc;
}

.modal-content h3 #login_switch {
  color: #8510bc;
}

#verify_content {
  display: none;
}

#login_text {
  display: none;
}

#modal-login-box {
  margin-bottom: 1em;
}

#modal-signup-box {
  margin-bottom: 1em;
  display: none;
}

#signup_button {
  display: none;
}

#login_switch {
  cursor: pointer;
}

#signup_switch {
  cursor: pointer;
}

#feedback_msg {
  display: none;
  width: 85%;
  padding: 6px;
  text-align: center;
  border-radius: 1px;
  margin: 8px 10px;
}

#login_button {
  padding: 6px 22px;
  margin: 8px 10px;
  background-color: #8B42A8;
  border: solid 2px #8B42A8;
  border-radius: 2px;
  color: #FFFFFF;
}

#signup_button {
  padding: 6px 22px;
  margin: 8px 10px;
  background-color: #8B42A8;
  border: solid 2px #8B42A8;
  border-radius: 2px;
  color: #FFFFFF;
}

#proceed_button {
  padding: 6px 22px;
  margin: 8px 10px;
  background-color: #8B42A8;
  border: solid 2px #8B42A8;
  border-radius: 2px;
  color: #FFFFFF;
}

.modal-content input {
  width: 85%;
  display: inline;
  font-size: 18px;
  margin-top: 10px;
  border-radius: 2px;
  box-shadow: none;
  border: none;
  border-bottom: solid 1px #c9c9c9;
  transition: border 0.3s;
}

.modal-content   input:focus {
  outline: none;
}
