/*THIS IS THE project PAGE STYLESHEET
IT CONTAINS STYLES FOR THE project PAGE*/
#left {
    float: left;
    width: 60%;
}
#right {
    float: right;
    width: 40%;
}
#left::after {
    content:"";
    display:block;
    clear:both;
}
#right::after {
    content:"";
    display:block;
    clear:both;
}

.project-item {
  background-color: #FFFFFF;
  transition: 0.2s background-color ease-in-out;
  padding: 0.25em;
  width: auto;
  height: auto;
  margin: 0.25em;
  margin-bottom: 0.5em;
}

.project-item:hover {
  background-color: #E6E6E6;
}

.project-item::after {
    content:"";
    display:block;
    clear:both;
}

.project-item a {
  color: black;
  text-decoration: none;
  transition: 0.2s color ease-in-out;
}

.project-item a:hover {
  color: #8510bc;
}

.project-item img {
  float: left;
  width: 30%;
  height: auto;
  display: inline-block;
  margin: 0.5em;
  margin-right: 1em;
}

.project-item h3 {
  margin: 0.25em;
  text-align: left;
}

.project-item h4 {
  margin: 0.25em;
  text-align: left;
}

.project-item p {
  font-size: medium;
  margin: 0.25em;
}

.project-item .timestamp {
  text-align: right;
  font-size: x-small;
  margin: 0.25em;
}

.project-header {
  text-align: center;
  background-color: #E6E6E6;
}

.project-header h2{
  margin: 0.25em;
}
