/*THIS IS THE SEARCH RESULT PAGE STYLESHEET
IT CONTAINS STYLES FOR THE SEARCH PAGE*/
/* Dropdown Button */
#searchbar_inpage {
  height: 28px;
  display: inline-block;
  float:left;
  margin: 10px;
  border: 1px solid black;
  border-radius: 2px;
}

#search_wrapper {
	height: 50px;
  margin-bottom: 10px;
}

/*Maginifying glass image is public domain:
https://pixabay.com/en/magnifying-glass-search-1083373/*/
#searchbar_inpage input[type=submit] {
  width: 28px;
  height: 28px;
  text-decoration: none;
  background-color: #F5F5F5;
  border: none;
  display: inline-block;
  padding: 0;
  background-image: url('../images/search.png');
  background-size: 22px 22px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

#searchbar_inpage input[type=submit]:focus {
  outline:0;
}

#dropdownBox {
  height: 30px;
  display: inline-block;
  float:left;
  margin: 9px;
  background-color: #F5F5F5;
}

#search {
  color: white;
  float: right;
  padding: 7px 24px;
  margin: 10px;
  background-color: #8B42A8;
  border: solid 2px #8B42A8;
  border-radius: 4px;
}

#search:link {
    text-decoration: none;
    color: #FFFFFF;
}

#search:visited {
    text-decoration: none;
    color: #FFFFFF;
}

#search:hover {
    text-decoration: none;
    color: #CBCBCB;
}

#search:active {
    text-decoration: none;
    color: #A1A1A1;
}

#search:focus {
  outline:0;
}

#checkbox {
	display: inline-block;
  margin: 6px;
}

.result{
  background-color: #FFFFFF;
  transition: 0.2s background-color ease-in-out;
  padding: 0.25em;
  width: auto;
  height: auto;
  margin: 10px;
  margin-bottom: 0.5em;
}

.result:hover {
  background-color: #E6E6E6;
}

.result::after {
    content:"";
    display:block;
    clear:both;
}

#result_people{
  margin: 10px;
}

#result_wrapper {
  min-width: 320px;
  max-width: 1000px;
  height: 100%;
  margin: auto;
  color: #000000;
  background-color: #F3F3F3;
  border-radius: 2px;
}

h6 {
    background-color: #220231;
    color: #FFFFFF;
    border: 4px solid #220231;
    border-radius: 2px;
    padding: 6px;
    font-weight: 700;
    font-size: 12px;
}

/*Maginifying glass image is public domain:
https://pixabay.com/en/magnifying-glass-search-1083373/*/
#search_button input[type=submit] {
  width: 28px;
  height: 28px;
  text-decoration: none;
  background-color: #F5F5F5;
  border: none;
  display: inline-block;
  padding: 0;
  background-image: url('../images/search.png');
  background-size: 22px 22px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

#search_button input[type=submit]:focus {
  outline: none;
}

#search_input {
  float: right;
  padding: 0 4px;
  height: 28px;
  background-color: #F5F5F5;
  border: none;
  display: inline-block;
}

#search_input:focus {
  outline: none;
}