/*THIS IS THE FEED PAGE STYLESHEET
IT CONTAINS STYLES FOR THE FEED PAGE*/
#left {
    float: left;
    width: 60%;
}
#right {
    float: right;
    width: 40%;
}
#left::after {
    content:"";
    display:block;
    clear:both;
}
#right::after {
    content:"";
    display:block;
    clear:both;
}
.inbox-item {
  background-color: #FFFFFF;
  transition: 0.2s background-color ease-in-out;
  padding: 0.25em;
  width: auto;
  height: auto;
  margin: 0.25em;
  margin-bottom: 0.5em;
}
.inbox-item:hover {
  background-color: #E6E6E6;
}
.inbox-item::after {
    content:"";
    display:block;
    clear:both;
}
.inbox-item a {
  color: black;
  text-decoration: none;
  transition: 0.2s color ease-in-out;
}
.inbox-item a:hover {
  color: #8510bc;
}
.inbox-item img {
  float: left;
  width: 30%;
  height: auto;
  display: inline-block;
  margin: 0.5em;
  margin-right: 1em;
}
.inbox-item h3 {
  margin: 0.25em;
  text-align: left;
}
.inbox-item h4 {
  margin: 0.25em;
  text-align: left;
}
.inbox-item p {
  font-size: 13px;
  margin: 8px;
}
.inbox-header {
  text-align: center;
  background-color: #E6E6E6;
  padding: 3px 0;
  font-size: 12px;
}
.inbox-header h2{
  margin: 0.25em;
}
.contact-item a {
  font-size: 20px;
}

.contact-item h4 {
  font-size: 16px;
}

.contact-item img {
  width: 15%;
}
.contact-selected {
  background-color: #eadaf1;
}
.contact-message {
  background-color: #eadaf1;
}
.contact-message:hover {
  background-color: #d6b6e2;
}
.contact-selected:hover {
  background-color: #d6b6e2;
}
.contact-selected a:hover {
  color: #530a75;
}
.message-item {
  font-size: medium;
}
.message-item img {
  width: 10%;
}
