html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial;
}

header {
  height: 50px;
  background-color: #14011D;
  color: #FFFFFF;
}

#navbar_wrapper {
  position: relative;
  height: 100%;
  min-width: 320px;
  max-width: 1000px;
  margin: auto;
}

#explore_nav {
  padding: 16px 0;
  margin: 0 10px;
  display: inline-block;
}

#contract_nav {
  padding: 16px 0;
  margin: 0 10px;
  display: inline-block;
}

#searchbar_nav {
  height: 50px;
  display: inline-block;
  float:right;
}

#searchbar_nav input {
  padding: 0 4px;
  margin: 10px;
  height: 28px;
  border: 2px solid #FBFBFB;
  border-radius: 2px;
}

#login_nav {
  float: right;
  padding: 6px 22px;
  margin: 8px 10px;
  background-color: #00C100;
  border: solid 2px #00C100;
  border-radius: 2px;
}

main {
  width: 100%;
  height: calc(100% - 80px);
}

footer {
  width: 100%;
  height: 30px;
  background-color: #14011D;
  color: #565656;
  text-align: center;
}

#footer_content {
  padding: 6px 0;
}

#content_background {
  width: 100%;
  height: 100%;
  background-color: #ECECEC;
}

#content_wrapper {
  min-width: 320px;
  max-width: 1000px;
  height: 100%;
  margin: auto;
  color: #000000;
  background-color: #F3F3F3;
}

#content {
  padding: 20px;
}

/*LANDING PAGE STYLE*/
#showcase_background {
  width: 100%;
  height: 100%;
  background-color: #21082E;
}

#showcase_wrapper {
  min-width: 320px;
  max-width: 1000px;
  height: 100%;
  margin: auto;
  color: #ffffff;
}

#explore_showcase {
  display: inline-block;
  background-color: #0EBCF3;
  padding: 15px 40px;
  margin: 20px;
  width: 200px;
  text-align: center;
  margin-top: 300px;
  border: 3px solid #0EBCF3;
  border-radius: 5px;
  font-size: 18px;
}

#contract_showcase {
  display: inline-block;
  background-color: #805396;
  padding: 15px 40px;
  margin: 20px;
  width: 200px;
  text-align: center;
  margin-top: 300px;
  border: 3px solid #805396;
  border-radius: 5px;
  font-size: 18px;
}

#earn_showcase {
  display: inline-block;
  background-color: #29baa5;
  padding: 15px 40px;
  margin: 20px;
  width: 200px;
  text-align: center;
  margin-top: 300px;
  border: 3px solid #29baa5;
  border-radius: 5px;
  font-size: 18px;
}

/*PROFILE PAGE STYLE*/
#profile_info {
  position: relative;
  width: 256px;
  margin: 0;
  display: inline-block;
  float: left;
}

#profile_picture {
  width: 256px;
  height: 256px;
  border: 1px solid #000000;
}

#profile_basics {
  margin: 0;
  padding: 0;
  text-align: center;
}

#profile_basics h2 {
  margin: 0;
  padding-top: 5px;
  font-size: 28px;
}

#profile_tagline {
  font-size: 16px;
}

#profile_bio {
  vertical-align: top;
  width: calc(100% - 256px - 30px);
  float: right;
  background-color: #FFFFFF;
}

#profile_bio_tag {
  background-color: #14011D;
  color: #FFFFFF;
  border: 4px solid #000000;
  border-radius: 2px;
  padding: 6px;
  font-weight: 700;
}

#profile_bio_content {
  padding: 8px;
  border: 1px solid #E9E9E9;
  border-radius: 2px;
}

#skillset_wrapper {
  position: relative;
  border: 1px solid #E9E9E9;
  border-radius: 2px;
  background-color: #FFFFFF;
  padding: 8px;
  margin-top: 10px;
}
