/* Stylesheet for CSC309 Assignment 1 */
/* Written by Daniil Kouznetsov */

body {
    font-family: "Arial", sans-serif;
    height: 100%;
    margin:0px;
    color: #333;
    background:#EEE;
}

a {
  color: #2ad5b3;
  text-decoration:none;
}

a:hover {
  color: #000; transition: all 0.3s ease;
}

header {
  margin-top:4em;
}

h1 {
  font-size:xx-large;
  text-align:center;
}

h2 {
  font-size:x-large;
  text-align:center;
}

nav {
    position:fixed;
    top:0px;
    display: flex;
    background:lightgray;
    border-width: 0px 0px 4px 0px;
    border-style:solid;
    border-color:#bfbfbf;
    width:100%;
    justify-content: flex-start;
}

a {
    font-size:x-large;
    opacity:.8;
    width: auto;
    height: auto;
    margin: 0.25em;
    text-align:center;
    margin-right: 1rem;
    margin-left: 1rem;
}

.enditem {
  margin-left: auto;
  margin-right: 2rem;
}

input[type="text"] {
  margin: 0;
  width: 100%;
  font-size: x-large;
  box-shadow: none;
  text-align: left;
  outline: none;
  border: none;
  border-bottom: solid 2px #bfbfbf;
  transition: border 0.3s;
}

main {
  font-size: large;
  margin-left:20%;
  margin-right:20%;
}

main article {
    display:block;
    width:100%;
}

main article p {
  border-width: medium medium medium medium;
  border-style: solid;
  border-color: lightgray;
}

aside {
  display: block;
  float: left;
  margin-left: 9%;
  width: 10%;
  background-color: lightgray;
  border-style:solid;
  border-width: 0px 0px 4px 0px;
  border-color:#bfbfbf;
}

footer {
  width: 100%;
  display: block;
  background-color: lightgray;
  border-style:solid;
  border-width: 4px 0px 0px 0px;
  border-color:#bfbfbf;
  bottom: 0;
  position: fixed;
  display: flex;
  justify-content: center;
}

footer p {
  text-align:center;
  font-size:small;
}
